<header>
  <div class="logo">
    <i class="material-icons">flag</i>
    <span>Country Info</span>
  </div>
</header>
<main>
  <div class="alphabet-container">
    <span
      *ngFor="let letter of alphabetLetters"
      (click)="showCountryInfo(letter)"
      [class.selected]="selectedLetter === letter"
      >{{ letter }}</span
    >
  </div>
  <div class="countries">
    <ng-container *ngIf="(countries$ | async)?.length > 0; else noCountries">
      <span class="header">Flag</span>
      <span class="header">Name</span>
      <span class="header">Capital</span>
      <span class="header">Currencies</span>
      <!-- TODO list countries matching the currently selected letter -->
      <ng-container *ngFor="let country of countries$ | async">
        <img [src]="country.flagUrl" />
        <span>{{ country.name }}</span>
        <span>{{ country.capital }}</span>
        <span>{{ country.currencies.join(", ") }}</span>
      </ng-container>
    </ng-container>
  </div>
</main>

<ng-template #noCountries
  ><span class="no-countries"> No countries found</span>
</ng-template>
